@import "~materialize-css/dist/css/materialize.min.css";

body{
  background-image: url('./img/main.jpeg');
}

input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

.opened{
  display: block;
  opacity: 1;
  position: absolute;
  width: 40%;
  padding: 0 30px;
  top: 65px;
}

.hide-on-med-and-down{
  width: 100%;
}

.hide-on-med-and-down li:nth-child(5) {
  margin-left: 65%;
}

.open{
  display: block;
  opacity: 0;
  transition: 1s;
}

.closed {
  display: none;
}

.reg{
}

.burger{
  position: absolute;
  top: 4.5rem;
  left: 6px;
  z-index: 1;
}

.close{
  position: absolute;
  top: 0.6rem;
  left: 265px;
  z-index: 1;
}

.container {
  max-width: none;
  width: 100%;
}

.settings{
  transition: 1s;
}

.input-field select{
  display: flex;
}

input.yellow-input + label {
  color: #ffffff!important;
}

input.yellow-input:focus + label {
  color: #ffeb3b!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}

.nav-wrapper {
  background-color: #0abab5;
}

.brand-logo{
  margin: 0 15px;
}

.desc{
  margin-left: 20%;
  background-color: rgba(225, 225, 225, 30%)!important;
  width: 35%;
  height: auto;
  font-size: 18px;
}

.skip{
  margin: 0 20px;
}

.card {
  background-color: #0abab5;
}

.card-content ul {
  color:black;
}

.App {
  margin: 1rem auto;
  max-width: 1000px;
  padding: 1rem;
}
.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  transition: opacity 0.2s ease;
}

.modal {
  display: block;
  width: 500px;
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: #0abab5;
  color: white;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px black;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.modal h1{
  font-size: 30px;
}

.modal button {
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  color: white;
  background-color: #0abab5;
  border: 1px solid #0abab5;
  cursor: pointer;
}
